# Online Course Recommender


---


## Practice Module: Intelligent Reasoning Systems (IRS)

## Data Preparation: Udemy Courses

## File Path & Library Setup & final df setup

In [ ]:
# Load All Necessary Packages

import os
from google.colab import drive

import re
import pandas as pd
import numpy as np

seed = 18

print('Versions of key libraries')
print('-------------------------')
print('pandas:  ', pd.__version__)
print('numpy:   ', np.__version__)

Versions of key libraries
-------------------------
pandas:   1.1.5
numpy:    1.19.5

In [ ]:
# Load Data (Raw Web Scrapped Data - Udemy Courses)
os.chdir('/content')
rawdata = pd.read_csv('v_courses_info_business.csv')

In [ ]:
rawdata.shape

(9986, 14)

In [ ]:
rawdata.head()
df = rawdata.copy()

In [ ]:
final = pd.DataFrame(columns = ['Course Name','Course URL','Categories','Short Description', 'Long Description', 'Difficulty', 'Duration', 'Free Option', 'Rating', 'Original rating', 'Numberofrated', 'Numberofenroll', 'Paid Option', 'Language', 'Subtitle Language', 'Platform', 'Provider', 'Image URL'])
final

Empty DataFrame
Columns: [Course Name, Course URL, Categories, Short Description, Long Description, Difficulty, Duration, Free Option, Rating, Original rating, Numberofrated, Numberofenroll, Paid Option, Language, Subtitle Language, Platform, Provider, Image URL]
Index: []

## Drop unwanted data

In [ ]:
# remove or modify those incomplete data such as row with uncorrect difficulty, row missing enroll or numbers of rating
difficulty_list = ['All Levels', 'Beginner', 'Intermediate', 'Expert']
df = df[df.level.isin(difficulty_list)]
df.shape

(9984, 14)

In [ ]:
# remove illegal duration row
df = df[df.length.str.contains('total') | df.length.str.contains('question')]
df.shape

(9983, 14)

## Drop non-English courses

In [ ]:
# remove those courses which are not in English
# or no info in language(Udemy no longer provide)
df = df[df.language == 'English']
df.shape

(9892, 14)

In [ ]:
df.head()

                                                name  ...                       subtitle
0  The Complete SQL Bootcamp 2021: Go from Zero t...  ...  English [Auto], French [Auto]
1  PMP Exam Prep Seminar - 2021 Exam Content with...  ...  English [Auto], French [Auto]
2  Tableau 2020 A-Z: Hands-On Tableau Training fo...  ...  English [Auto], French [Auto]
3  Microsoft Power BI - A Complete Introduction [...  ...         English, French [Auto]
4  Agile Crash Course: Agile Project Management; ...  ...  English [Auto], French [Auto]

[5 rows x 14 columns]

## Fill 0 to those rating is NaN
## Fill None to those subtitle is NaN

In [ ]:
meanval = np.mean(df.rating)
df.rating.fillna(meanval,inplace = True)
df.subtitle.fillna('English(default)',inplace = True)
df.price.fillna('free',inplace = True)
df.numbersofrating.fillna('0',inplace = True)
df.category.fillna('',inplace = True)

## Preprocess Data

### Get Course Name, Short Description, Course URL, Provider Column

In [ ]:
final['Course Name'] = df.name
final['Short Description'] = df.description
final['Course URL'] = df.link
final['Provider'] = df.instructors
final.head()

                                         Course Name  ... Image URL
0  The Complete SQL Bootcamp 2021: Go from Zero t...  ...       NaN
1  PMP Exam Prep Seminar - 2021 Exam Content with...  ...       NaN
2  Tableau 2020 A-Z: Hands-On Tableau Training fo...  ...       NaN
3  Microsoft Power BI - A Complete Introduction [...  ...       NaN
4  Agile Crash Course: Agile Project Management; ...  ...       NaN

[5 rows x 18 columns]

### Add Categories

In [ ]:
string = "['asdfa', 'asdf']"
string[1:-1].split(', ')[0][1:-1]

'asdfa'

In [ ]:
def get_cat(strs):
  if strs != '':
    strs = strs[1:-1].split(', ')
    answer = ''
    for item in strs:
      answer = answer+item[1:-1]+','
    return answer[:-1]

In [ ]:
final['Categories'] = df['category'].apply(lambda x: get_cat(x))

### Get Course Difficulty

In [ ]:
# Extract Course Difficulty, converted to numerical category and normalised
def conv_diff(strs):
  if strs == 'All Levels' or strs == 'Beginner':
    diff = 0
  elif strs == 'Intermediate':
    diff = 1
  else:
    diff = 2
  return diff

final['Difficulty'] = df['level'].apply(lambda x: conv_diff(x)) # difficulty in numerical category

final.head()

                                         Course Name  ... Image URL
0  The Complete SQL Bootcamp 2021: Go from Zero t...  ...       NaN
1  PMP Exam Prep Seminar - 2021 Exam Content with...  ...       NaN
2  Tableau 2020 A-Z: Hands-On Tableau Training fo...  ...       NaN
3  Microsoft Power BI - A Complete Introduction [...  ...       NaN
4  Agile Crash Course: Agile Project Management; ...  ...       NaN

[5 rows x 18 columns]

### Get Course Duration

In [ ]:
string = '0.2 dsfaasdfa 2431 sdfgsdgfsdgsdfg'
re.findall(r'\d+[.]*\d*',string)

['0.2', '2431']

In [ ]:
# Get Course Duration in unit of hours

def duration_conv(strs):
  num = float(re.findall(r'\d+[.]*\d*',strs)[0])
  if 'question' in strs:
    num = num/25
  if 'min' in strs:
    dur = 0
  elif num<10:
    dur = 0
  elif num<50:
    dur = 1
  else:
    dur = 2
  return dur

final['Duration'] = df['length'].apply(lambda x: duration_conv(x))

final.shape

(9892, 18)

In [ ]:
final

                                            Course Name  ... Image URL
0     The Complete SQL Bootcamp 2021: Go from Zero t...  ...       NaN
1     PMP Exam Prep Seminar - 2021 Exam Content with...  ...       NaN
2     Tableau 2020 A-Z: Hands-On Tableau Training fo...  ...       NaN
3     Microsoft Power BI - A Complete Introduction [...  ...       NaN
4     Agile Crash Course: Agile Project Management; ...  ...       NaN
...                                                 ...  ...       ...
9981  PMI ACP Agile Certified Practitioner Practice ...  ...       NaN
9982  Failure Mode Effect Analysis for Process Risk ...  ...       NaN
9983  Bignners to Pro Course on Financial Modeling a...  ...       NaN
9984  The Real Estate Invoice Contract Download & Guide  ...       NaN
9985  Behavioral and Disciplinary Issues Resolution(...  ...       NaN

[9892 rows x 18 columns]

### Get free option or not

In [ ]:
def isfree(strs):
  if 'free' in strs:
    f = 1
  else:
    f = 0
  return f

final['Free Option'] = df.price.apply(lambda x:isfree(x))
final.head()

                                         Course Name  ... Image URL
0  The Complete SQL Bootcamp 2021: Go from Zero t...  ...       NaN
1  PMP Exam Prep Seminar - 2021 Exam Content with...  ...       NaN
2  Tableau 2020 A-Z: Hands-On Tableau Training fo...  ...       NaN
3  Microsoft Power BI - A Complete Introduction [...  ...       NaN
4  Agile Crash Course: Agile Project Management; ...  ...       NaN

[5 rows x 18 columns]

In [ ]:
final.Duration.unique()

array([0, 1, 2])

### Get Course Rating

In [ ]:

string = '(565,433 ratings)'
re.findall(r'\d+[,]*\d*[,]*\d*',string)[0].replace(',','')

'565433'

In [ ]:
# Get Course Rating as normalized number of enrolls

def get_number(strs):
  num = re.findall(r'\d+[,]*\d*[,]*\d*',strs)[0].replace(',','')
  return int(num)

num_enrolls = df.enroll.apply(lambda x:get_number(x))
num_ratings = df.numbersofrating.apply(lambda x:get_number(x))
ratings = df.rating.apply(lambda x:float(x))
maxenroll = max(num_enrolls)
print('the maximum enroll number is:',maxenroll)
final['Original rating'] = ratings
final['Numberofrated'] = num_ratings
final['Numberofenroll'] = num_enrolls
final['Rating'] = ratings/5.0*num_ratings/maxenroll

the maximum enroll number is: 414191

In [ ]:
final.head()

                                         Course Name  ... Image URL
0  The Complete SQL Bootcamp 2021: Go from Zero t...  ...       NaN
1  PMP Exam Prep Seminar - 2021 Exam Content with...  ...       NaN
2  Tableau 2020 A-Z: Hands-On Tableau Training fo...  ...       NaN
3  Microsoft Power BI - A Complete Introduction [...  ...       NaN
4  Agile Crash Course: Agile Project Management; ...  ...       NaN

[5 rows x 18 columns]

### Get Subtitle Language

In [ ]:
string = 'English(defaut)'
string.replace('\xa0',' ').replace(',',' ').split(' ')

['English(defaut)']

In [ ]:
def get_subs(strs):
  lst = strs.replace('\xa0',' ').replace(',',' ').split(' ')
  subs = ''
  for item in lst:
    if item != '' and item != '[Auto]':
      subs = subs+item+','
  return subs[:-1]

get_subs(string)

'English(defaut)'

In [ ]:
# Get course list of subtitle language available

final['Subtitle Language'] = df.subtitle.apply(lambda x:get_subs(x))
final.head()

                                         Course Name  ... Image URL
0  The Complete SQL Bootcamp 2021: Go from Zero t...  ...       NaN
1  PMP Exam Prep Seminar - 2021 Exam Content with...  ...       NaN
2  Tableau 2020 A-Z: Hands-On Tableau Training fo...  ...       NaN
3  Microsoft Power BI - A Complete Introduction [...  ...       NaN
4  Agile Crash Course: Agile Project Management; ...  ...       NaN

[5 rows x 18 columns]

### Paid Option

In [ ]:
# Check if free option is available

final['Paid Option'] = df.price.apply(lambda x: 0 if x == 'free' else x)
final.head()

                                         Course Name  ... Image URL
0  The Complete SQL Bootcamp 2021: Go from Zero t...  ...       NaN
1  PMP Exam Prep Seminar - 2021 Exam Content with...  ...       NaN
2  Tableau 2020 A-Z: Hands-On Tableau Training fo...  ...       NaN
3  Microsoft Power BI - A Complete Introduction [...  ...       NaN
4  Agile Crash Course: Agile Project Management; ...  ...       NaN

[5 rows x 18 columns]

### Adding a Column for platform identifier

In [ ]:
# Add Platform name
# 0 - Edx
# 1 - Udemy

final['Platform'] = [1 for i in range(len(final['Course Name']))]

### Adding a cloumn for language (all English)

In [ ]:
final['Language'] = ['English' for i in range(len(final['Course Name']))]

## Combine data

In [ ]:
final

                                            Course Name  ... Image URL
0     The Complete SQL Bootcamp 2021: Go from Zero t...  ...       NaN
1     PMP Exam Prep Seminar - 2021 Exam Content with...  ...       NaN
2     Tableau 2020 A-Z: Hands-On Tableau Training fo...  ...       NaN
3     Microsoft Power BI - A Complete Introduction [...  ...       NaN
4     Agile Crash Course: Agile Project Management; ...  ...       NaN
...                                                 ...  ...       ...
9981  PMI ACP Agile Certified Practitioner Practice ...  ...       NaN
9982  Failure Mode Effect Analysis for Process Risk ...  ...       NaN
9983  Bignners to Pro Course on Financial Modeling a...  ...       NaN
9984  The Real Estate Invoice Contract Download & Guide  ...       NaN
9985  Behavioral and Disciplinary Issues Resolution(...  ...       NaN

[9892 rows x 18 columns]

## Save Output to file

In [ ]:
filename = 'p_Udemy_business.csv'
final.to_csv('p_datasets/'+filename, index=False, encoding='utf_8_sig')

## Combine all to one

In [ ]:
import os

os.chdir('/content')
dirname = 'p_datasets'
filelist = os.listdir(dirname)
filelist = [file for file in filelist if 'p_' in file]
filelist

['p_Udemy_design.csv',
 'p_Udemy_business.csv',
 'p_Udemy_personalDev.csv',
 'p_Udemy_music.csv',
 'p_Udemy_itNsoftware.csv',
 'p_Udemy_officeProductivity.csv',
 'p_Udemy_lifestyle.csv',
 'p_Udemy_financeNaccounting.csv',
 'p_Udemy_teachNacademic.csv',
 'p_Udemy_marketing.csv',
 'p_Udemy_development.csv',
 'p_Udemy_photoNvideo.csv',
 'p_Udemy_healthNfit.csv']

In [ ]:
os.chdir('p_datasets')
fulldataset = pd.DataFrame()
for file in filelist:
  data = pd.read_csv(file)
  fulldataset = pd.concat([fulldataset,data])

In [ ]:
fulldataset

                                            Course Name  ... Image URL
0     The Ultimate Drawing Course - Beginner to Adva...  ...       NaN
1     Character Art School: Complete Character Drawi...  ...       NaN
2     Complete Blender Creator: Learn 3D Modelling f...  ...       NaN
3                            Design Thinking in 3 Steps  ...       NaN
4     User Experience Design Essentials - Adobe XD U...  ...       NaN
...                                                 ...  ...       ...
5609  Limit Sugar Sweetened Beverages to Not More Th...  ...       NaN
5610  Limit Processed Foods to Not More Than One Ser...  ...       NaN
5611    how to be an expert in the word of bodybuilding  ...       NaN
5612  Meditation - The Art of Inner Peace and Happin...  ...       NaN
5613  Aim for a Resting Heart Rate Below 60 Beats Pe...  ...       NaN

[83922 rows x 18 columns]

In [ ]:
len(fulldataset['Course Name'].unique())

79286

In [ ]:
fulldataset = fulldataset.drop_duplicates(subset=['Course Name'])

In [ ]:
len(fulldataset)

79286

In [ ]:
fulldataset.to_csv('fulldataset.csv', index=False, encoding='utf_8_sig')